@if (hasFeature(Feature.Sort)) {
    <div class="context-actions">
        <button [matMenuTriggerFor]="sortMenu" mat-button>
            <mat-icon>sort</mat-icon>
            <span>
                @switch (musicState.sortOption()) {
                    @case (SortOption.POSITION_ASC) {
                        SoundCloud
                    }
                    @case (SortOption.NAME_ASC) {
                        A-Z
                    }
                    @case (SortOption.NAME_DESC) {
                        Z-A
                    }
                    @case (SortOption.DATE_DESC) {
                        Newest
                    }
                    @case (SortOption.DATE_ASC) {
                        Oldest
                    }
                }
             </span>
        </button>

        <mat-menu #sortMenu="matMenu">
            @for (option of sortOptions; track option.value) {
                <button (click)="setSort(option.value)" mat-menu-item>
                    <mat-icon>{{ option.icon }}</mat-icon>
                    <span>{{ option.label }}</span>
                </button>
            }
        </mat-menu>
    </div>
}

@if (headerService.template(); as headerTemplate) {
    <ng-container *ngTemplateOutlet="headerTemplate"/>
    <mat-divider vertical/>
}

<div class="sync-download-block">
    <button (click)="syncAll()" [disabled]="isSyncing()" [matTooltip]="isSyncing() ? 'Syncing' : 'Sync'"
            mat-flat-button>
        <mat-icon [class.rotating]="isSyncing()">sync</mat-icon>
    </button>

    <mat-divider vertical/>

    <button (click)="openDownloadDialog()" mat-flat-button
            matTooltip="Download">
        <mat-icon>download</mat-icon>
    </button>
</div>
