<h2>
    <mat-icon>cloud</mat-icon>
    SoundCloud Integration
</h2>

<div class="fields">
    <div class="row">
        <mat-form-field>
            <mat-label>
                <mat-icon>link</mat-icon>
                Profile URL
            </mat-label>
            <input [formField]="form().profileUrl" matInput
                   placeholder="https://soundcloud.com/your-username"/>
            <mat-hint>Used for quick discovery and "Sync All" features</mat-hint>

            @if (form().profileUrl().invalid()) {
                <mat-error>{{ form().profileUrl().errors()[0]?.message }}</mat-error>
            }
        </mat-form-field>

        <button (click)="state.testUrl(form().profileUrl)"
                [disabled]="!state.canTest(form().profileUrl)"
                mat-flat-button
                type="button"
                matTooltip="Testing url"
        >
            <mat-icon [class.rotating]="state.isTesting()">{{
                    state.isTesting() ? 'sync' : 'check_circle'
                }}
            </mat-icon>
            Test
        </button>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>
                <mat-icon>timer</mat-icon>
                Sync Interval (minutes)
            </mat-label>
            <input [formField]="form().syncInterval" matInput type="number">
        </mat-form-field>
    </div>

    <app-settings-switch-card title="Background Sync" description="Enable background synchronization on startup"
                              [control]="form().autoSync"/>
</div>
