@let data = item();

<div [class.failed]="data.status === DownloadStatus.Failed" class="item">
    <div class="img-container">
        @if (data.artworkUrl) {
            <img [alt]="data.title" [ngSrc]="data.artworkUrl" height="40" width="40"/>
        } @else {
            <mat-icon>music_note</mat-icon>
        }
    </div>

    <div class="info">
        <strong>{{ data.title }}</strong>

        @if (data.status !== DownloadStatus.Downloading) {
            <small [class.error-text]="data.status === DownloadStatus.Failed">
                {{ data.status }}
            </small>
        }

        @if (data.status === DownloadStatus.Downloading) {
            <mat-progress-bar mode="indeterminate" />
        }
    </div>

    <button (click)="onRemove()" class="item-remove-btn" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>
