# Rust
target/
debug/
**/*.rs.bk
*.pdb

# Nix / Direnv
.direnv/
.devbox/

# Database & Local Storage
*.redb
vortex.redb
downloads/

# Environment & IDE
.env
.idea/
.vscode/
.zed/
.rustup/
.cargo/

result