html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  overflow: auto;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::placeholder {
    color: var(--mat-sys-on-surface-variant);
    opacity: 0.5;
  }

  ::-webkit-input-placeholder {
    color: var(--mat-sys-on-surface-variant);
    opacity: 0.5;
  }

  ::-moz-placeholder {
    color: var(--mat-sys-on-surface-variant);
    opacity: 0.5;
  }

  :-ms-input-placeholder {
    color: var(--mat-sys-on-surface-variant);
    opacity: 0.5;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.rx-virtual-scroll-element {
  scrollbar-width: thin;
}

html.cdk-global-scrollblock body {
  overflow: hidden !important;
}