/* Переопределения для Material Slider в плеере */
app-player {

  .mdc-slider__thumb,
  .mdc-slider__track--active_fill {
    transition-duration: 0ms !important;
  }
}

.download-snackbar {
  backdrop-filter: blur(6px);

  .mdc-snackbar__surface {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  .mat-mdc-snack-bar-label {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.mdc-button mat-icon {
  font-size: 1.5rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.mat-icon {
  font-variation-settings: 'wght' 300;
}

.mdc-icon-button {
  display: inline-flex !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 0.85rem !important;
}

mat-form-field {
  --mat-form-field-container-vertical-padding: .5em;
  --mat-form-field-container-height: 2.5em;
  --mat-form-field-outlined-container-shape: 5em;

  input {
    font-size: 2em;
  }

  .mdc-text-field--outlined {
    padding-right: calc(min(16px, var(--mat-form-field-outlined-container-shape, var(--mat-sys-corner-extra-small))) * 2);
  }

  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    width: max(12px, calc(var(--mat-form-field-outlined-container-shape) - 2em), var(--mat-sys-corner-extra-small));
  }

  .mdc-text-field--outlined {
    padding-left: max(12px, calc(var(--mat-form-field-outlined-container-shape) - 2em), var(--mat-sys-corner-extra-small));
  }

  --mat-mdc-form-field-label-transform: translateY(-50%) translateX(0);
}

.custom-modal-panel {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    --mdc-dialog-container-elevation-shadow: none;

    .mat-mdc-dialog-surface {
      background: transparent !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}

::placeholder {
  color: var(--mat-sys-on-surface-variant) !important;
  opacity: 0.5 !important;
}

::-webkit-input-placeholder {
  color: var(--mat-sys-on-surface-variant) !important;
  opacity: 0.5 !important;
}

::-moz-placeholder {
  color: var(--mat-sys-on-surface-variant) !important;
  opacity: 0.5 !important;
}

:-ms-input-placeholder {
  color: var(--mat-sys-on-surface-variant) !important;
  opacity: 0.5 !important;
}