<h2>
    <mat-icon>cloud</mat-icon>
    SoundCloud Integration
</h2>

<div class="fields">
    <div class="row">
        <mat-form-field>
            <mat-label>Profile URL</mat-label>
            <input [formField]="form().profileUrl" matInput placeholder="https://soundcloud.com/your-username"/>
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>Used for quick discovery and "Sync All" features</mat-hint>

            @if (form().profileUrl().invalid()) {
                <mat-error>{{ form().profileUrl().errors()[0]?.message }}</mat-error>
            }
        </mat-form-field>

        <button (click)="test.emit()" [disabled]="form().profileUrl().invalid() || isTesting()"
                mat-stroked-button type="button">
            <mat-icon [class.rotating]="isTesting()">{{
                    isTesting() ? 'sync' : 'check_circle'
                }}
            </mat-icon>
            Test
        </button>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Sync Interval (minutes)</mat-label>
            <input [formField]="form().syncInterval" matInput type="number">
            <mat-icon matSuffix>timer</mat-icon>
        </mat-form-field>
    </div>

    <div class="toggle">
        <mat-slide-toggle [formField]="form().autoSync">
            Enable background synchronization on startup
        </mat-slide-toggle>
    </div>
</div>