@let p = detectedPlatform();

@if (p === 'youtube') {
    <span class="platform-chip youtube">
        <mat-icon class="chip-icon">play_circle_filled</mat-icon>
        <span class="chip-label">YouTube</span>
    </span>
} @else if (p === 'soundcloud') {
    <span class="platform-chip soundcloud">
        <mat-icon class="chip-icon">cloud</mat-icon>
        <span class="chip-label">SoundCloud</span>
    </span>
} @else if (showAuto()) {
    <span class="platform-chip auto">
        <mat-icon class="chip-icon">saved_search</mat-icon>
        <span class="chip-label">Auto Detect</span>
    </span>
}
