app-player {
  .mdc-slider__thumb,
  .mdc-slider__track--active_fill {
    transition-duration: 0ms !important;
  }
}

.mat-icon {
  font-variation-settings: 'wght' 300;
}

.mat-mdc-tooltip-panel,
.mat-mdc-tooltip,
.cdk-overlay-pane:has(.mat-mdc-tooltip) {
  pointer-events: none !important;
}
