<h2 mat-dialog-title>Sync & Download Errors</h2>

<mat-dialog-content>
    @if (errors.length > 0) {
        <div class="list">
            @for (err of errors; track err) {
                <div class="item">
                    <mat-icon>error_outline</mat-icon>
                    <span class="text">{{ err }}</span>
                </div>
            }
        </div>
    } @else {
        <p>No errors found.</p>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if (errors.length > 0) {
        <button mat-button [mat-dialog-close]="ErrorsDialogResult.Clear">Clear All</button>
    }
</mat-dialog-actions>