<section class="settings-section">
    <h2>
        <mat-icon>language</mat-icon>
        Network & Proxy
    </h2>
    <div class="section-content">
        <mat-slide-toggle [formField]="form().useProxy" class="mb-1">
            Enable Proxy
        </mat-slide-toggle>

        @if (form().value().useProxy) {
            <div class="field-row">
                <mat-form-field class="flex-grow">
                    <mat-label>Proxy URL (SOCKS5/HTTP)</mat-label>
                    <input [formField]="form().proxyUrl" matInput
                           placeholder="socks5://127.0.0.1:1080">

                    <button (click)="test.emit()"
                            [disabled]="form().proxyUrl().invalid() || isTesting()"
                            mat-icon-button matSuffix
                            type="button">
                        <mat-icon [class.rotating]="isTesting()">
                            {{ isTesting() ? 'sync' : 'security' }}
                        </mat-icon>
                    </button>

                    @if (form().proxyUrl().invalid()) {
                        <mat-error>{{ form().proxyUrl().errors()[0]?.message }}</mat-error>
                    }
                </mat-form-field>
            </div>
        }
    </div>
</section>
