@let items = tracking.sortedActiveDownloads();
@let errors = tracking.errors();

<div class="downloads-container">
    @if (items.length > 0 || errors.length > 0) {
        <div class="active-downloads">
            <header>
                <span>Active Downloads</span>
                @if (items.length > 0) {
                    <mark>{{ items.length }}</mark>
                }
            </header>

            @if (items.length > 0) {
                <rx-virtual-scroll-viewport [itemSize]="52">
                    <div class="virtual-scroll-item-container">
                        <app-active-download-item
                                (remove)="tracking.removeFromQueue($event)"
                                *rxVirtualFor="let item of items; trackBy: 'id'"
                                [item]="item"
                        />
                    </div>
                </rx-virtual-scroll-viewport>
            } @else if (errors.length > 0) {
                <div class="empty-active-state">
                    <p>No active tasks</p>
                </div>
            }
        </div>
    }

    @if (errors.length > 0) {
        <app-active-download-errors
                (clear)="clearError()"
                [errors]="errors"
        />
    }
</div>