<header>

    <div class="left">
        <div>
            <span class="label-text">Vortex</span>
            <span>{{ headerService.config()?.title || 'System' }}</span>
        </div>

        @if (headerService.hasFeature(Feature.Stats)) {
        <span class="separator">//</span>
        <div class="tracks-count">
            <span class="label-text">Tracks</span>
            <span>{{ tracksCount() }}</span>
        </div>
        }
    </div>


    <div class="center">
        @if (headerService.hasFeature(Feature.Search) && headerService.searchBind(); as searchBind) {
        <mat-form-field subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input [formField]="searchBind.formField" matInput
                [placeholder]="headerService.config()?.searchPlaceholder || 'Search...'"
                (keydown)="onSearchKeydown($event)" />
        </mat-form-field>
        }
    </div>


    <div class="right">
        @if (headerService.sortBind(); as bind) {
        <div class="context-actions">
            <button [matMenuTriggerFor]="sortMenu" mat-button>
                <mat-icon>sort</mat-icon>
                <span>
                    {{ activeSortLabel() }}
                </span>
            </button>

            <mat-menu #sortMenu="matMenu">
                @for (option of headerService.config()?.sortOptions || []; track option.value) {
                <button (click)="bind.onSortChange(option.value)" mat-menu-item>
                    <mat-icon>{{ option.icon }}</mat-icon>
                    <span>{{ option.label }}</span>
                </button>
                }
            </mat-menu>
        </div>
        }

        <div class="sync-download-block">
            <button (click)="syncAll()" [disabled]="isSyncing()" [matTooltip]="isSyncing() ? 'Syncing' : 'Sync'"
                mat-flat-button>
                <mat-icon [class.rotating]="isSyncing()">sync</mat-icon>
            </button>

            <mat-divider vertical />

            <button (click)="openDownloadDialog()" mat-flat-button matTooltip="Download">
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </div>

</header>