header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
  background: var(--mat-sys-surface);
  box-sizing: border-box;
  height: 72px;
  z-index: 10;

  .left,
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .right {
    justify-content: flex-end;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }

  .page-info {
    display: flex;
    align-items: center;
    gap: 16px;

    .stats-label,
    .stats-value {
      display: flex;
      flex-direction: column;

      .label-text {
        font-size: 0.65rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--mat-sys-primary);
        font-weight: 700;
        opacity: 0.6;
      }

      span {
        font-size: 0.95rem;
        font-weight: 600;
        color: var(--mat-sys-on-surface);
      }
    }

    .stats-value span {
      font-family: monospace;
      color: var(--mat-sys-primary);

      &.skeleton {
        width: 3ch;
        background: var(--mat-sys-surface-container-high);
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        color: transparent;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translateX(-100%);
          background: linear-gradient(90deg,
                  transparent 0,
                  var(--mat-sys-surface-container-highest) 50%,
                  transparent 100%);
          animation: shimmer 1.5s infinite;
        }
      }
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }

    .separator {
      color: var(--mat-sys-outline-variant);
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .search-area {
    flex: 1;
    max-width: 400px;
    margin: 0 32px;

    mat-form-field {
      width: 100%;

      mat-icon {
        color: var(--mat-sys-primary);
        opacity: 0.5;
        margin-right: 8px;
      }

      input {
        font-size: 0.85rem;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;

    .context-actions {
      display: flex;
      align-items: center;
      gap: 8px;

      mat-divider {
        height: 2rem;
      }
    }

    button {
      --mat-button-filled-label-text-weight: 600
    }
  }
}

.rotating {
  animation: rotate 1.5s linear infinite;
  display: inline-block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}