<header>
    <div class="page-info">
        <div class="stats-label">
            <span class="label-text">Storage</span>
            <span>{{ config()?.title || 'System' }}</span>
        </div>

        @if (hasFeature(Feature.Stats)) {
            <span class="separator">//</span>
            <div class="stats-value">
                <span class="label-text">Tracks</span>
                <span>{{ musicState.sortedTracks().length }}</span>
            </div>
        }
    </div>

    @if (hasFeature(Feature.Search)) {
        <div class="search-area">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-icon matPrefix>search</mat-icon>
                <input (ngModelChange)="onSearch($event)"
                       [ngModel]="musicState.searchQuery()"
                       matInput
                       placeholder="Search..."
                />
            </mat-form-field>
        </div>
    }

    <div class="actions">
        @if (hasFeature(Feature.Sort)) {
            <div class="context-actions">
                <button [matMenuTriggerFor]="sortMenu" mat-button>
                    <mat-icon>sort</mat-icon>
                    <span>
                        @switch (musicState.sortOption()) {
                            @case (SortOption.NAME_ASC) {
                                A-Z
                            }
                            @case (SortOption.NAME_DESC) {
                                Z-A
                            }
                            @case (SortOption.DATE) {
                                Recent
                            }
                        }
                    </span>
                </button>

                <mat-menu #sortMenu="matMenu">
                    <button (click)="setSort(SortOption.NAME_ASC)" mat-menu-item>
                        <mat-icon>sort_by_alpha</mat-icon>
                        <span>Alphabetical (A-Z)</span>
                    </button>
                    <button (click)="setSort(SortOption.NAME_DESC)" mat-menu-item>
                        <mat-icon>sort_by_alpha</mat-icon>
                        <span>Alphabetical (Z-A)</span>
                    </button>
                    <button (click)="setSort(SortOption.DATE)" mat-menu-item>
                        <mat-icon>schedule</mat-icon>
                        <span>Date Added</span>
                    </button>
                </mat-menu>
            </div>
        }

        @if (hasFeature(Feature.Download)) {
            <button (click)="openDownloadDialog()" color="primary" mat-flat-button>
                <mat-icon>add</mat-icon>
                <span>Download</span>
            </button>
        }
    </div>
</header>
