@let currentTrack = track();

<div class="cover-wrapper" (click)="openDetails.emit(currentTrack)" role="button" tabindex="0">
    @if (currentTrack.artworkUrl) {
    <img [ngSrc]="currentTrack.artworkUrl" alt="Artwork" height="160" width="160">
    } @else {
    <div class="placeholder">
        <mat-icon>music_note</mat-icon>
    </div>
    }
    <div class="overlay-hint">
        <mat-icon>info</mat-icon>
    </div>
</div>

<div class="details">
    <h3>{{ currentTrack.title }}</h3>
    <p>{{ currentTrack.artist }}</p>
</div>