<form [formRoot]="settingsForm">
    <div class="settings-content">
        <app-soundcloud-section (test)="testSoundcloudUrl()" [form]="settingsForm.soundcloud"
                                [isTesting]="isTesting()"/>

        <app-downloads-section [form]="settingsForm.downloads"/>

        <app-system-section [form]="settingsForm.system"/>

        <app-adb-section [form]="settingsForm.adb"/>
    </div>

    <div class="footer">
        <button [disabled]="settingsForm().invalid() || isTesting()" mat-flat-button type="submit">
            <mat-icon>save</mat-icon>
            Save All
        </button>
    </div>
</form>
