<h2>
    <mat-icon>tune</mat-icon>
    System Preferences
</h2>

<div class="fields">
    <div class="row">
        <mat-form-field>
            <mat-label>Items Per Page</mat-label>
            <input [formField]="form().limitPerPage" matInput type="number">
            <mat-icon matPrefix>format_list_numbered</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Max Retry Attempts</mat-label>
            <input [formField]="form().maxRetries" matInput type="number">
            <mat-icon matPrefix>replay</mat-icon>
        </mat-form-field>
    </div>
</div>