<mat-drawer-container>
    <mat-drawer disableClose mode="side" opened>
        <app-logo/>

        <div>
            @for (item of navItems; track item.path) {
                <a [routerLinkActiveOptions]="{exact: item.exact || false}"
                   [routerLink]="item.path"
                   mat-button
                   routerLinkActive="active"
                >
                    <mat-icon>{{ item.icon }}</mat-icon>
                    {{ item.label }}
                </a>
            }
        </div>

        <app-active-downloads/>
    </mat-drawer>

    <mat-drawer-content>
        <ng-content/>
    </mat-drawer-content>
</mat-drawer-container>