@use "@angular/material" as mat;
@use "styles/base";
@use "styles/overrides";

@include mat.theme((color:(primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Manrope,
        density: 0,
    ));

::view-transition-group(root) {
    animation: none;
}