:host {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.6em;
  background: rgba(30, 30, 30, 0.02);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20em;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);

  animation: slideUp 0.32s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  span {
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 1em;
  }

}

.actions {
  display: flex;

  button {
    mat-icon {
      margin: 0;
    }

    --mat-button-filled-horizontal-padding: 0px;

    &:first-child {
      --mat-button-filled-container-shape: 10em 0 0 10em;
    }

    &:last-child {
      --mat-button-filled-container-shape: 0 10em 10em 0;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 80px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
