<h2>
    <mat-icon>phone_android</mat-icon>
    ADB Device Sync
</h2>

<div class="fields">
    <div class="controls">
        <div class="item">
            <mat-slide-toggle [formField]="form().enabled">
                Enable ADB Sync
            </mat-slide-toggle>
            <p>Master switch for all ADB synchronization tasks</p>
        </div>

        <div class="item">
            <mat-slide-toggle [formField]="form().autoSync">
                Auto-sync on download
            </mat-slide-toggle>
            <p>Automatically push new tracks to devices after download finishes</p>
        </div>
    </div>

    <mat-divider />

    <div [class.disabled]="!form().enabled().value()" class="sync">
        <app-adb-discovery (selectDevice)="useDevice($event)" />
        <app-adb-device-list (remove)="removeDevice($event)" (toggleDevice)="toggleDevice($event)"
            [form]="form().devices" />
    </div>
</div>