:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

header {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    color: var(--mat-sys-on-surface-variant);
    font-size: 1.1rem;

  }
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

  gap: 2rem;

  > * {
    width: 100%;
  }
}

.section-placeholder {
  min-height: 200px;
  background: var(--mat-sys-surface-container-high);
  border-radius: 16px;
  opacity: 0.5;
}