@let data = track();

<div class="artwork">
    @if (data.artworkUrl) {
        <img [alt]="data.title" [ngSrc]="data.artworkUrl" height="42" width="42"/>
    } @else {
        <mat-icon>music_note</mat-icon>
    }

    <button (click)="$event.stopPropagation(); playTrack.emit(data)" mat-icon-button>
        <mat-icon>{{ isPlaying() ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
</div>

<div class="info">
    <section>
        <h3>{{ data.title }}</h3>
        <span>{{ data.artist }}</span>
    </section>

    <aside>
        <span>{{ data.size | fileSize }}</span>
        <strong [attr.data-format]="data.format">{{ data.format }}</strong>
    </aside>

    <div class="actions-wrapper">
        <menu (click)="$event.stopPropagation()" animate.enter="slide-in"
              animate.leave="slide-out" role="presentation"
        >
            @if (this._deleteTrackSubj.observed) {
                <button (click)="onDeleteClick()" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            }
        </menu>
    </div>
</div>
