:host {
  position: relative;
  display: flex;
  min-height: 100vh;

  mat-sidenav-container {
    width: 100%;
    min-height: 100vh;
    overflow: visible !important;

    mat-sidenav {
      position: fixed;
      background: var(--mat-sys-surface);
      display: flex;
      flex-direction: column;
      width: 240px;

      .container {
        display: flex;
        flex-direction: column;

        height: 100%;

        app-sidebar-notifications {
          margin: auto 0 1em 0;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        gap: .4em;

        padding: 1em 0;

        a {
          background: var(--mat-sys-surface);
          text-transform: capitalize;
          justify-content: flex-start;

          &.active {
            background: #1e2129;
          }

          mat-icon {
            font-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }

      .support-block {
        gap: 1em;
      }
    }

    mat-sidenav-content {
      overflow: visible !important;
      padding: 0 1em 1em;

      app-header {
        position: sticky;
        top: 0;
      }
    }
  }
}